/* .Navbar{
    color: white;
    text-shadow: 2px 2px black;
}
.loginModal{
    text-align: center;
}
.titleHeader{
    font-size: 50px;
    position: relative;
    Right: 120px;
}
.searchTitle{
    font-size: 30px;
    position: relative;
    bottom: 25px;
    left: 170px;
}

.registerModal{
    padding: 150%; 
}  */

